@using ConstructionSiteLibrary.Components.Templates;
@using Shared.Templates;

@page "/form_creation"

<h3>Creazione Documenti</h3>

<TableTemplates GetTemplate="(tm) => TemplateSelected(tm)"/>

<TemplateCreation SelectedTemplate=@selectedTemplate/>

@code
{
    TemplateModel? selectedTemplate;

    public void TemplateSelected(TemplateModel tm)
    {
        selectedTemplate = tm;

        StateHasChanged();
    }
}