.divCard{
    padding:1rem;
}

.selectTemplate, ::deep .selectTemplate {
    max-width: 500px;
    margin-bottom: 2rem;
}

.cardClass {
    border-radius: 0.8rem !important;
    background: #FFF;
    border-color: var(--border-Card);
    background-color: var(--card-background-color) !important;
}
